[Unit]
Description=slack-irc bridge ({{ irc_nickname }})

[Service]
ExecStart=/usr/bin/env slack-irc --config /opt/slackirc/{{ irc_nickname }}.json
WorkingDirectory=/opt/slackirc
User=slackirc

[Install]
WantedBy=multi-user.target
