[Unit]
Description=slack-irc bridge ({{ irc_nickname }})

[Service]
ExecStart=/usr/bin/env npm start -- --config /opt/slackirc/{{ irc_nickname }}.json
WorkingDirectory=/opt/slackirc/slack-irc
User=slackirc

[Install]
WantedBy=multi-user.target
